<?xml version="1.0"?>
<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />
		
		<param name="frame_id" type="string" value="odom" />
		
		<param name="sensor_model/max_range" value="5.0" />

		<param name="sensor_model/min_range" value="1.0" />
		
		<!-- data (stereo / LiDAR) -->
		<remap from="cloud_in" to="/points" />
		<!--remap from="cloud_in" to="/realsense/depth/color/points" /-->
	</node>
</launch>
